.{margin:0; padding:0}

.main{
	background-color:#6b4e04;
}
.mainbox{
	
}
.box{
	width: 400px;
	height:400px;
	border: 2px solid red;
	margin-top: 30px;	
}
.box{
	float:left;
	margin-left:80px;
}
.box img{
	width:200px;
	height:200px;
	margin-top:20px;	
}
.box p{
	color:white;
	font-weight:normal;
}
.click{
background-color: orange;
color: white;
padding: 4px;
text-decoration: none;
border-radius: 8px;
}

.modal-window {
  position: fixed;
  background-color: rgba(30, 86, 124, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; 
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px; 
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
  background-color:#e88f4a;
}

.header {
  font-weight: bold;
  height:60px;  
  background:pink;
  overflow:hidden; 
	
}
.header h3{
	color:white;
	padding-left:left;
	font-weight:normal;
	
}
.modal-close {
  color: white;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
  text-decoration: none;
 
}

.modal-close:hover {
  color: black;  
}
.modal-window h1 { 	
	
} 
 .button{
  background-color: black;
  color: white;
  padding: 4px;
  text-decoration: none;
  border-radius: 4px; 
  float:right;
  margin-top:200px;
  margin-right:50px;
}

.msgblock{
	background-color: orange;
}

.msgblock img{
	margin-top: 60px;
	height: 200px;
	width: 200px;	
  }

.msgblock p{
	background-color: pink;	
	overflow:hidden; 
	font-size:8pt;
	font-weight: normal;
	
}


  
  